.news{
    background-color: rgba(102, 210, 142, 0.927);
}
.quotes{
  background-color: rgb(177, 188, 88);
}
.table1{
background-color: rgb(147, 186, 174);
}
.table2{
    background-color: rgba(203, 191, 153, 0.927);
}
h2{
    color: cadetblue;
}