
<div>
    <div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            UserId
                        </th>
                        <th>
                            Id
                        </th>
                        <th>
                            Title
                        </th>
                        <th>
                            Body
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {{demoPost.userId}}
                        </td>
                        <td>
                            {{demoPost.id}}
                        </td>
                        <td>
                            {{demoPost.title}}
                        </td>
                        <td>
                            {{demoPost.body}}
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


 
  
<!-- <div>
    <div>
        {{demoPost.userId}}
    </div>
    <div>
        {{demoPost.id}}
    </div>
    <div>
        {{demoPost.title}}
    </div>
    <div>
        {{demoPost.body}}
    </div>
</div> -->