table{
  /* background-color: red; */
  margin-left: 200px;
  background-color: aliceblue;
  
}
/* Set font size and color */
.mat-header-cell, .mat-cell {
    font-size: 16px;
    color: #333;
  }
  /* Add box shadow to table */
.mat-table {
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4);
}

  /* Add hover effect to rows */
  .mat-row:hover {
    background-color: #f5f5f5;
    cursor: pointer;
  }
  
  /* Style table header */
  .mat-header-row {
    background-color: #a48d8d;
    font-weight: bold;
  }
  
  /* Set width of columns */
  /* .mat-column-id {
    width: 50px;
  }
  
  .mat-column-name {
    width: 150px;
  }
  
  .mat-column-email {
    width: 200px;
  }
  
  .mat-column-phone {
    width: 120px;
  }
  
  .mat-column-website {
    width: 150px;
  }
  
  .mat-column-company {
    width: 200px;
  }
  
  .mat-column-city {
    width: 150px;
  } */
  /* Add padding and margin to table cells */
.mat-header-cell, .mat-cell {
  padding: 8px;
  margin: 4px;
}
