<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <!-- <h3>{{now}}</h3> -->
  <h1>
    <!-- Welcome to  -->
    {{ title }}!

    <!-- {{name}} {{data.dept}} -->
  </h1>

  <!-- <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->
</div>
<!-- <img [src]="imageUrl" alt=""> -->
<!-- <app-test2 [child]="parentToChild" (fromChild)="onParent($event)"></app-test2> -->
<!-- <app-card [title]="posts[0].title" [content]="posts[0].content"></app-card> -->
<!-- <app-card [title]="posts[1].title" [content]="posts[1].content"></app-card> -->

<!-- <app-card></app-card> -->

<!-- <button type="button" class="btn btn-primary">Primary</button> -->
<!-- <app-child-to-parent (fromTheChild)="fromParent($event)"> </app-child-to-parent> -->
<!-- <div>
  Data Passing From Child To Parent <br>
  Name:- {{name1}} <br>
  Last:- {{name2}} <br>
  Age:-  {{name3}} <br>
  Dept:- {{name4}} <br>
</div> -->
<!-- <app-demo></app-demo> -->
<!-- <app-test2></app-test2> -->
<!-- <app-ng-for></app-ng-for> -->
<!-- <app-countrystatedrop></app-countrystatedrop> -->
<!-- <app-ngif></app-ngif> -->
<!-- <app-ngswitch></app-ngswitch> -->
<!-- <app-ngstyle></app-ngstyle> -->
<!-- <app-ngclass></app-ngclass> -->
<!-- <p appCustom>Normal para</p> -->
<!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle> -->
<!-- <app-templateforms></app-templateforms> -->
<!-- <app-reactiveform></app-reactiveform> -->

<!-- <div *ngFor="let arrays of array"></div> -->

<!-- <app-cone-way-binding [array]="array"> </app-cone-way-binding> -->
<!-- <app-cone-way-binding> </app-cone-way-binding> -->

<!-- <ng-container *ngFor="let product of products">
  Product Name : <strong class="text-success">{{product.name}}</strong>
  Product Id : <strong class="text-success">{{product.id}}</strong>

</ng-container> -->

<!-- <ul>
  <li *ngFor="let user of Users">
    {{user.id}}
    {{user.name}}
    {{user.email}}
    {{user.phone}}
    {{user.website}}
    {{user.company.name}}
    {{user.address.city}}
  </li>
</ul> -->

<table mat-table [dataSource]="Users">
  
  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let user">{{user.id}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let user">{{user.name}}</td>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let user">{{user.email}}</td>
  </ng-container>

  <!-- Phone Column -->
  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef>Phone</th>
    <td mat-cell *matCellDef="let user">{{user.phone}}</td>
  </ng-container>

  <!-- Website Column -->
  <ng-container matColumnDef="website">
    <th mat-header-cell *matHeaderCellDef>Website</th>
    <td mat-cell *matCellDef="let user">{{user.website}}</td>
  </ng-container>

  <!-- Company Column -->
  <ng-container matColumnDef="company">
    <th mat-header-cell *matHeaderCellDef>Company</th>
    <td mat-cell *matCellDef="let user">{{user.company.name}}</td>
  </ng-container>

  <!-- City Column -->
  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef>City</th>
    <td mat-cell *matCellDef="let user">{{user.address.city}}</td>
  </ng-container>

  <!-- Table Rows -->
  <tr mat-header-row *matHeaderRowDef="['id', 'name', 'email', 'phone', 'website', 'company', 'city']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['id', 'name', 'email', 'phone', 'website', 'company', 'city']"></tr>

</table>



<router-outlet></router-outlet>